/**
* Customized container width! I need something bigger than the 960px!
**/
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }

    .container-large {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }

    .container-large {

        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }

    .container-large {
        width: 1260px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}

/**
Shrink menu when scroll
**/


section {
    height:calc(90% - 50px);
}

.affix {
    padding:0px;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;

}

.affix-top {
    padding-top:15px;
    padding-bottom:15px;
    -webkit-transition:padding 0.5s linear;
    -moz-transition:padding 0.5s linear;
    -o-transition:padding 0.5s linear;
    transition:padding 0.5s linear;
}

.navbar-brand{
    padding:0px;
}

section.content>div.featured{
    padding:7px;
}


article img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: red;
}