/**
* Customized container width! I need something bigger than the 960px!
**/
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }

    .container-large {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }

    .container-large {

        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }

    .container-large {
        width: 1260px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: red;
}