@import 'partials/fontproximanova';
@import 'partials/fontdiarapro';
@import 'partials/tag';
@import 'partials/featured';
@import 'partials/footer';

/**
* Customized container width! I need something bigger than the 960px!
**/

/**
@media (min-width: 768px) {
  .container-small {
    width: 300px;
  }

  .container-large {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }

  .container-large {

    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 700px;
  }

  .container-large {
    width: 1260px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}
**/

// Customize container
@media (min-width: 768px) {
  .container-small {
    max-width: 800px;
  }
}

body {
  font-family: "ProximaNova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-weight: 100;
  font-style: normal;
}

a {
  &:hover {
    text-decoration: none;
  }

}











