@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-Regular.eot');
  src: url('../fonts/zeklerDP-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-Regular.woff2') format('woff2'),
  url('../fonts/zeklerDP-Regular.woff') format('woff'),
  url('../fonts/zeklerDP-Regular.ttf') format('truetype'),
  url('../fonts/zeklerDP-Regular.svg#zeklerDP-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-Italic.eot');
  src: url('../fonts/zeklerDP-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-Italic.woff2') format('woff2'),
  url('../fonts/zeklerDP-Italic.woff') format('woff'),
  url('../fonts/zeklerDP-Italic.ttf') format('truetype'),
  url('../fonts/zeklerDP-Italic.svg#zeklerDP-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-Light.eot');
  src: url('../fonts/zeklerDP-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-Light.woff2') format('woff2'),
  url('../fonts/zeklerDP-Light.woff') format('woff'),
  url('../fonts/zeklerDP-Light.ttf') format('truetype'),
  url('../fonts/zeklerDP-Light.svg#zeklerDP-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'zeklerDP-LightItalic';
  src: url('../fonts/zeklerDP-LightItalic.eot');
  src: url('../fonts/zeklerDP-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-LightItalic.woff2') format('woff2'),
  url('../fonts/zeklerDP-LightItalic.woff') format('woff'),
  url('../fonts/zeklerDP-LightItalic.ttf') format('truetype'),
  url('../fonts/zeklerDP-LightItalic.svg#zeklerDP-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-Medium.eot');
  src: url('../fonts/zeklerDP-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-Medium.woff2') format('woff2'),
  url('../fonts/zeklerDP-Medium.woff') format('woff'),
  url('../fonts/zeklerDP-Medium.ttf') format('truetype'),
  url('../fonts/zeklerDP-Medium.svg#zeklerDP-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'zeklerDP-MediumItalic';
  src: url('../fonts/zeklerDP-MediumItalic.eot');
  src: url('../fonts/zeklerDP-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-MediumItalic.woff2') format('woff2'),
  url('../fonts/zeklerDP-MediumItalic.woff') format('woff'),
  url('../fonts/zeklerDP-MediumItalic.ttf') format('truetype'),
  url('../fonts/zeklerDP-MediumItalic.svg#zeklerDP-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'zeklerDP-BoldItalic';
  src: url('../fonts/zeklerDP-BoldItalic.eot');
  src: url('../fonts/zeklerDP-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-BoldItalic.woff2') format('woff2'),
  url('../fonts/zeklerDP-BoldItalic.woff') format('woff'),
  url('../fonts/zeklerDP-BoldItalic.ttf') format('truetype'),
  url('../fonts/zeklerDP-BoldItalic.svg#zeklerDP-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-SemiBold.eot');
  src: url('../fonts/zeklerDP-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-SemiBold.woff2') format('woff2'),
  url('../fonts/zeklerDP-SemiBold.woff') format('woff'),
  url('../fonts/zeklerDP-SemiBold.ttf') format('truetype'),
  url('../fonts/zeklerDP-SemiBold.svg#zeklerDP-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'zeklerDP-SemiBoldItalic';
  src: url('../fonts/zeklerDP-SemiBoldItalic.eot');
  src: url('../fonts/zeklerDP-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/zeklerDP-SemiBoldItalic.woff') format('woff'),
  url('../fonts/zeklerDP-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/zeklerDP-SemiBoldItalic.svg#zeklerDP-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}



@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-Bold.eot');
  src: url('../fonts/zeklerDP-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-Bold.woff2') format('woff2'),
  url('../fonts/zeklerDP-Bold.woff') format('woff'),
  url('../fonts/zeklerDP-Bold.ttf') format('truetype'),
  url('../fonts/zeklerDP-Bold.svg#zeklerDP-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'zeklerDP-ExtraBoldItalic';
  src: url('../fonts/zeklerDP-ExtraBoldItalic.eot');
  src: url('../fonts/zeklerDP-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/zeklerDP-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/zeklerDP-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/zeklerDP-ExtraBoldItalic.svg#zeklerDP-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'zeklerDP';
  src: url('../fonts/zeklerDP-ExtraBold.eot');
  src: url('../fonts/zeklerDP-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/zeklerDP-ExtraBold.woff2') format('woff2'),
  url('../fonts/zeklerDP-ExtraBold.woff') format('woff'),
  url('../fonts/zeklerDP-ExtraBold.ttf') format('truetype'),
  url('../fonts/zeklerDP-ExtraBold.svg#zeklerDP-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}



