@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-Regular.eot');
  src: url('../fonts/DiariaPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-Regular.woff2') format('woff2'),
  url('../fonts/DiariaPro-Regular.woff') format('woff'),
  url('../fonts/DiariaPro-Regular.ttf') format('truetype'),
  url('../fonts/DiariaPro-Regular.svg#DiariaPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-Italic.eot');
  src: url('../fonts/DiariaPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-Italic.woff2') format('woff2'),
  url('../fonts/DiariaPro-Italic.woff') format('woff'),
  url('../fonts/DiariaPro-Italic.ttf') format('truetype'),
  url('../fonts/DiariaPro-Italic.svg#DiariaPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-Light.eot');
  src: url('../fonts/DiariaPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-Light.woff2') format('woff2'),
  url('../fonts/DiariaPro-Light.woff') format('woff'),
  url('../fonts/DiariaPro-Light.ttf') format('truetype'),
  url('../fonts/DiariaPro-Light.svg#DiariaPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DiariaPro-LightItalic';
  src: url('../fonts/DiariaPro-LightItalic.eot');
  src: url('../fonts/DiariaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-LightItalic.woff2') format('woff2'),
  url('../fonts/DiariaPro-LightItalic.woff') format('woff'),
  url('../fonts/DiariaPro-LightItalic.ttf') format('truetype'),
  url('../fonts/DiariaPro-LightItalic.svg#DiariaPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-Medium.eot');
  src: url('../fonts/DiariaPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-Medium.woff2') format('woff2'),
  url('../fonts/DiariaPro-Medium.woff') format('woff'),
  url('../fonts/DiariaPro-Medium.ttf') format('truetype'),
  url('../fonts/DiariaPro-Medium.svg#DiariaPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DiariaPro-MediumItalic';
  src: url('../fonts/DiariaPro-MediumItalic.eot');
  src: url('../fonts/DiariaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-MediumItalic.woff2') format('woff2'),
  url('../fonts/DiariaPro-MediumItalic.woff') format('woff'),
  url('../fonts/DiariaPro-MediumItalic.ttf') format('truetype'),
  url('../fonts/DiariaPro-MediumItalic.svg#DiariaPro-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DiariaPro-BoldItalic';
  src: url('../fonts/DiariaPro-BoldItalic.eot');
  src: url('../fonts/DiariaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-BoldItalic.woff2') format('woff2'),
  url('../fonts/DiariaPro-BoldItalic.woff') format('woff'),
  url('../fonts/DiariaPro-BoldItalic.ttf') format('truetype'),
  url('../fonts/DiariaPro-BoldItalic.svg#DiariaPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-SemiBold.eot');
  src: url('../fonts/DiariaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-SemiBold.woff2') format('woff2'),
  url('../fonts/DiariaPro-SemiBold.woff') format('woff'),
  url('../fonts/DiariaPro-SemiBold.ttf') format('truetype'),
  url('../fonts/DiariaPro-SemiBold.svg#DiariaPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DiariaPro-SemiBoldItalic';
  src: url('../fonts/DiariaPro-SemiBoldItalic.eot');
  src: url('../fonts/DiariaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/DiariaPro-SemiBoldItalic.woff') format('woff'),
  url('../fonts/DiariaPro-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/DiariaPro-SemiBoldItalic.svg#DiariaPro-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}



@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-Bold.eot');
  src: url('../fonts/DiariaPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-Bold.woff2') format('woff2'),
  url('../fonts/DiariaPro-Bold.woff') format('woff'),
  url('../fonts/DiariaPro-Bold.ttf') format('truetype'),
  url('../fonts/DiariaPro-Bold.svg#DiariaPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'DiariaPro-ExtraBoldItalic';
  src: url('../fonts/DiariaPro-ExtraBoldItalic.eot');
  src: url('../fonts/DiariaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/DiariaPro-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/DiariaPro-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/DiariaPro-ExtraBoldItalic.svg#DiariaPro-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'DiariaPro';
  src: url('../fonts/DiariaPro-ExtraBold.eot');
  src: url('../fonts/DiariaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DiariaPro-ExtraBold.woff2') format('woff2'),
  url('../fonts/DiariaPro-ExtraBold.woff') format('woff'),
  url('../fonts/DiariaPro-ExtraBold.ttf') format('truetype'),
  url('../fonts/DiariaPro-ExtraBold.svg#DiariaPro-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}



