.search-block {
  padding-top: 40px;
  padding-right: 100px;
  @media screen and (max-width: 991px) {
    padding-right: 0;
  }
  input {
    border: none;
    width: 0;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }

  .glyphicon-search:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
    float: none !important;
    text-align: center;
  }
}