// dependant on share.js
.share-block {
  position: fixed;
  top: 20%;
  display: none;

  &__icons {
    display: inline-block;
    font-weight: 100;
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
  }

  &__upvote:hover i{
    color: #ff7f7f !important;
  }

  &__icons i {

    padding-top: 5px;
    font-size: 22px;

    &.fa-outline {
      color: #fff;
      text-shadow: -1px -1px 0 $gray-light,
      1px -1px 0 $gray-light,
      -1px 1px 0 $gray-light,
      1px 1px 0 $gray-light;
    }

    &.fa-heart-o, &.fa-heart, &.fa-angle-up {
      color: $gray-light;
    }
    &.fa-angle-up {
      display: block;
    }

    &.remove-padding {
      padding: 0 !important;
    }



  }

}

