// dependant on share.js
.share-block {
  position: fixed;
  top: 20%;
  display: none;

  &__icons {
    display: inline-block;
    font-weight:100;
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
  }
  &__icons i {
    padding-top: 5px;
    font-size: 22px;

    &.fa-outline {
      color: #fff;
      text-shadow: -1px -1px 0 #999,
      1px -1px 0 #999,
      -1px 1px 0 #999,
      1px 1px 0 #999;
    }

    &.fa-heart-o,&.fa-heart {
      color: #F01A3C;
    }

  }

}

