.social-actions {
  padding: 25px 0 0px;
  div {
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
  }
  .glyphicon {
    font-size: 20px;
  }

  .glyphicon:not(:first-child) {
    margin-left: 10px;
  }
  .glyphicon:first-child {
    margin-right: 10px;
  }
}

